[Unit]
Description=VehicleAutowareAgent runtime container
After=docker.service network-online.target autoware-preload.service
Requires=docker.service autoware-preload.service
Wants=network-online.target

[Service]
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker stop autoware-agent
ExecStartPre=-/usr/bin/docker rm autoware-agent
ExecStart=/usr/bin/docker run --rm --name autoware-agent \
    --runtime nvidia \
    --network host \
    --ipc host \
    -v /opt/maps:/maps:ro \
    -v /opt/config:/config:ro \
    ghcr.io/yaquod/autoware-agent-runtime:latest

ExecStop=/usr/bin/docker stop autoware-agent

[Install]
WantedBy=multi-user.target