[Unit]
Description=Flutter Auto IVI Application
After=agl-compositor.service systemd-time-wait-sync.service
Wants=systemd-time-wait-sync.service
Requires=agl-compositor.service

[Service]
User=agl-driver
Group=agl-driver
WorkingDirectory=/home/agl-driver
Environment=XDG_RUNTIME_DIR=/run/user/1001
Environment=WAYLAND_DISPLAY=wayland-0
ExecStart=/usr/bin/dbus-run-session -- /usr/bin/flutter-auto \
    -b /usr/share/flutter/yaqoud-flutter-ivi/3.38.3/release/ \
    --width=1024 --height=600 \
    --window-type=BG
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical.target
