[Unit]
Description=Pull Autoware agent Docker image from GHCR
Before=autoware-agent.service
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker pull ghcr.io/yaquod/autoware-agent-runtime:latest

[Install]
WantedBy=multi-user.target
